<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>SteamBot</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
    />
    <link
            href="/css/main.css"
            rel="stylesheet"
    />
</head>
<body>

{{>navbar }}

Боты

</body>
</html>