<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>SteamBot</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
    />
    <link
            href="/css/main.css"
            rel="stylesheet"
    />
</head>
<body>

{{>navbar }}

<div class="logs">
    <p>[Nest] <span class="l-number">17636</span> - <span class="l-time">17.11.2022, 20:54:58</span> LOG [BumperService]
        Ближайший бамп через 30 секунд!</p>
    <p>[Nest] <span class="l-number">17636</span> - <span class="l-time">17.11.2022, 20:54:58</span> LOG [BumperService]
        Бота для бампа не нашлось =(</p>
    <p>[Nest] <span class="l-number">17636</span> - <span class="l-time">17.11.2022, 20:54:58</span> LOG [BumperService]
        Ближайший бамп через 30 секунд!</p>
    <p>[Nest] <span class="l-number">17636</span> - <span class="l-time">17.11.2022, 20:54:58</span> LOG [BumperService]
        Бота для бампа не нашлось =(</p>
    <p>[Nest] <span class="l-number">17636</span> - <span class="l-time">17.11.2022, 20:54:58</span> LOG [BumperService]
        Ближайший бамп через 30 секунд!</p>
    <p>[Nest] <span class="l-number">17636</span> - <span class="l-time">17.11.2022, 20:54:58</span> LOG [BumperService]
        Бота для бампа не нашлось =(</p>
    <p>[Nest] <span class="l-number">17636</span> - <span class="l-time">17.11.2022, 20:54:58</span> LOG [BumperService]
        Ближайший бамп через 30 секунд!</p>
    <p>[Nest] <span class="l-number">17636</span> - <span class="l-time">17.11.2022, 20:54:58</span> LOG [BumperService]
        Бота для бампа не нашлось =(</p>
    <p>[Nest] <span class="l-number">17636</span> - <span class="l-time">17.11.2022, 20:54:58</span> LOG [BumperService]
        Ближайший бамп через 30 секунд!</p>
    <p>[Nest] <span class="l-number">17636</span> - <span class="l-time">17.11.2022, 20:54:58</span> LOG [BumperService]
        Бота для бампа не нашлось =(</p>
    <p>[Nest] <span class="l-number">17636</span> - <span class="l-time">17.11.2022, 20:54:58</span> LOG [BumperService]
        Ближайший бамп через 30 секунд!</p>
    <p>[Nest] <span class="l-number">17636</span> - <span class="l-time">17.11.2022, 20:54:58</span> LOG [BumperService]
        Ближайший бамп через 30 секунд!</p>
    <p>[Nest] <span class="l-number">17636</span> - <span class="l-time">17.11.2022, 20:54:58</span> LOG [BumperService]
        Бота для бампа не нашлось =(</p>
    <p>[Nest] <span class="l-number">17636</span> - <span class="l-time">17.11.2022, 20:54:58</span> LOG [BumperService]
        Ближайший бамп через 30 секунд!</p>
    <p>[Nest] <span class="l-number">17636</span> - <span class="l-time">17.11.2022, 20:54:58</span> LOG [BumperService]
        Ближайший бамп через 30 секунд!</p>
    <p>[Nest] <span class="l-number">17636</span> - <span class="l-time">17.11.2022, 20:54:58</span> LOG [BumperService]
        Бота для бампа не нашлось =(</p>
    <p>[Nest] <span class="l-number">17636</span> - <span class="l-time">17.11.2022, 20:54:58</span> LOG [BumperService]
        Ближайший бамп через 30 секунд!</p>
</div>

</body>
</html>